@import "../../scss/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__icon {
    color: $secondary-color;
    font-size: 3.2rem;
    position: absolute;
    top: 5%;
    left: 4%;

    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    color: $primary-color;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  &__translate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 41rem;
    justify-content: center;
    margin: 0 auto;
    text-align: left;

    & form {
      margin-bottom: 3rem;

      & p {
        color: $primary-color;
        font-weight: normal;
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }

      & textarea {
        margin-bottom: 3rem;
        width: 95%;
        resize: none;
        background-color: transparent;
        border: 2px solid $secondary-color;
        height: 20rem;
        color: $primary-color;
        padding: 1rem;
        font-size: 1.8rem;

        &:focus {
          outline: none;
        }
      }
    }
    & h3 {
      font-size: 2.4rem;
      color: $primary-color;
      margin-bottom: 3rem;
    }

    .output {
      font-size: 2rem;
      color: $secondary-color;
      letter-spacing: 5px;
      margin-bottom: 2rem;
    }

    .morse-output {
      font-size: 2rem;
      color: $secondary-color;
      margin-bottom: 2rem;
    }
  }
}

// React tabs
.react-tabs__tab-list {
  border: none;
  font-size: 2.4rem;
  color: $primary-color;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 414px) {
  .container {
    &__title {
      font-size: 2.6rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    &__translate {
      margin-left: 2rem;
      margin-right: 3rem;
      & h3 {
        font-size: 1.8rem;
      }

      & form {
        margin-bottom: 0rem;
      }

      .output {
        margin-top: -2rem;
        font-size: 1.6rem;
      }
      .morse-output {
        margin-top: -2rem;
        font-size: 1.6rem;
      }
    }

    .item {
      width: 11rem;

      & h3 {
        font-size: 1.8rem;
      }

      h4 {
        font-size: 1.6rem;
      }
    }
  }
  .react-tabs__tab-list {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 360px) {
  .item {
    width: 10rem !important;
    padding: 1rem !important;

    & h3 {
      font-size: 1.6rem !important;
    }

    & h4 {
      font-size: 1.4rem !important;
    }
  }
}
