@import "../../scss/variables";
@import "../../scss/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__icon {
    color: $secondary-color;
    font-size: 3.2rem;
    position: absolute;
    top: 5%;
    left: 4%;

    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    color: $primary-color;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .excercise {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    & h2 {
      color: $primary-color;
      font-size: 2.4rem;
      text-align: left;
      margin-bottom: 2rem;
      font-weight: $medium;
      letter-spacing: 1px;
    }

    & h3 {
      color: $secondary-color;
      font-size: 2rem;
      text-align: left;
      font-weight: normal;
      margin-bottom: 6rem;
      letter-spacing: 1px;
    }

    & form {
      margin-bottom: 2rem;
    }

    &__answer {
      //height: 20rem;
      width: 93%;
      resize: none;
      background-color: transparent;
      color: $primary-color;
      padding: 1rem;
      font-size: 1.8rem;
      border: 2px solid $secondary-color;
      margin-bottom: 4rem;
      float: left;

      &:focus {
        outline: none;
      }
    }
  }
}

// Modal
.content {
  margin: 3rem;
  font-size: 1.8rem;
  color: $bg-color;
  width: 34rem;
  text-align: center;

  & span {
    letter-spacing: 4px;
    color: $secondary-color;
    margin-top: 1rem;
  }
}

.close {
  color: $secondary-color;
  font-size: 2rem;
  float: right;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 414px) {
  .container__title {
    font-size: 2.6rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .excercise {
    width: 28rem;

    & h2 {
      font-size: 2rem !important;
    }

    & h3 {
      font-size: 1.8rem !important;
    }
  }

  .content {
    width: 25rem;

    & span {
      white-space: normal;
    }
  }
}

@media only screen and (max-width: 320px) {
  .content {
    margin: 3rem 0rem 3rem 0rem !important;
    font-size: 1.4rem;
  }
}
