@import "../../scss/variables";

.button {
    font-weight: $bold;
    padding: 1rem;
    //font-size: 2.4rem;
    border-radius: 5px;
    border: none;
    background-color: $secondary-color;
    color: $bg-color;

    &:hover {
        background-color: $primary-color;
        transition: 0.3s;
        cursor: pointer;
    }
}