@import "../../scss/variables";
.container {
  display: flex;
  flex-direction: column;
    
  &__title {
    color: $primary-color;
    font-size: 4.5rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    & a {
      margin-bottom: 4rem;
      width: 16rem;
    }
  }
}
