@import "../../scss/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__icon {
    color: $secondary-color;
    font-size: 3.2rem;
    position: absolute;
    top: 5%;
    left: 4%;

    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    color: $primary-color;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  &__chart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-evenly;
      padding: 1rem;
      width: 12rem;

      & h3 {
        font-size: 2.4rem;
        color: $secondary-color;
      }

      & h4 {
        font-size: 2rem;
        color: $primary-color;
        letter-spacing: 10px;
        text-align: center;
        text-indent: 10px;
      }
    }
  }
}

// React tabs

.react-tabs__tab-list {
  border: none;
  font-size: 2.4rem;
  color: $primary-color;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 414px) {
  .container {
    &__title {
      font-size: 2.6rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    .item {
      width: 11rem;

      & h3 {
        font-size: 1.8rem;
      }

      h4 {
        font-size: 1.6rem;
      }
    }
  }
  .react-tabs__tab-list {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 360px) {
  .item {
    width: 10rem !important;
    padding: 1rem !important;

    & h3 {
      font-size: 1.6rem !important;
    }

    & h4 {
      font-size: 1.4rem !important;
    }
  }
}
