@import "./scss/variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html {
  /* 1rem = 10px */
  font-size: 62.5%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  //width: 40rem;
  margin: auto;
  background-color: $bg-color;
  font-family: $primary-font;
}