//$bg-color: #171820;
//$primary-color: #FDC029;
//$secondary-color: #DF861D;
$bg-color: #1D2228;
$primary-color: #E1E2E2 ;
$secondary-color: #FB8122;
$font-color: #BCB6AE;
$primary-font: 'Roboto', sans-serif;
$regular-font-weight: 400;
$semi-bold: 600;
$bold: 700;
$medium: 500;
